.imgLarge {
    height: 100%;
    width: auto;
}

.imgFat {
    height: auto;
    width: 100%;
}

.imgFat,
.imgLarge {
    border-radius: 10px;
}

.imgReduccion{
    max-width: 80%;
    max-height: 80%;
}

.centrado{
    justify-content: center;
    align-items: center;
}