.imgLarge {
    height: 100%;
    width: auto;
}

.imgFat {
    height: auto;
    width: 100%;
}

.imgFat,
.imgLarge {
    border-radius: 0px;
}

.imgLogo {
    height: 80px;
    width: auto;
}

.c-nav-bar-bg {
    margin-top: 2px;
}

.c-nav-bar-logo {
    padding-top: 2%;
}

.c-nav-bar-cta .c-button {
    margin-right: .5rem;
}

@media (max-width: 1300px) {
    .imgLogo {
        height: 50px;
    }

    .c-nav-bar-bg {
        margin-top: 0px;
    }

    .c-nav-bar-logo {
        padding-top: 0%;
    }
}

@media (max-width: 800px) {
    .imgLogo {
        height: 50px;
    }

    .c-nav-bar-part--left {
        padding-left: 3%;
    }

    .c-nav-bar-bg {
        margin-top: 7px;
    }
}

@media (max-width: 450px) {
    .imgLogo {
        height: 55  px;
    }

    .c-nav-bar-bg {
        margin-top: 8px;
    }
}

@media (max-width: 350px) {
    .imgLogo {
        height: 35px;
    }

    .c-nav-bar-bg {
        margin-top: 7px;
    }
}

.imgReduccion {
    max-width: 80%;
    max-height: 80%;
}

.centrado {
    justify-content: center;
    align-items: center;
}