.new-footer {
    background-color: #1b1b1b;
    color: #eceef2;
    padding: 40px 20px;
    text-align: center;
}

.new-footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new-footer-logo,
.new-footer-buttons,
.new-footer-contact,
.new-footer-credits {
    width: 100%;
}

.new-footer-logo {
    display: flex;
    justify-content: center;
}

.new-footer-logo-img {
    max-height: 80px;
    width: auto;
}

.new-footer-buttons {
    display: flex;
    flex-direction: column; /* Cambiar a columna para lista vertical */
    gap: 10px;
    justify-content: center;
    align-items: center; /* Centrar los botones */
}

.new-footer-button {
    background-color: transparent; /* Sin fondo */
    color: #eceef2; /* Color del texto blanco */
    border: none; /* Sin contorno */
    padding: 1px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    font-size: 18px; /* Ajusta este valor según sea necesario */
    text-align: center; /* Centrar el texto */
}

.new-footer-button:hover {
    color: #000; /* Cambiar color de la letra a negro */
    background-color: #eceef2; /* Fondo blanco */
}

.new-footer-contact {
    text-align: left; /* Alinear a la izquierda */
}

.new-footer-contact a {
    color: #eceef2; /* Color de la letra blanco */
    text-decoration: none; /* Quitar subrayado */
    padding: 1px; /* Espacio alrededor del texto */
    border-radius: 0px; /* Bordes redondeados */
    transition: color 0.3s, background-color 0.3s;
}

.new-footer-contact a:last-child {
    margin-bottom: 0; /* Quitar margen del último elemento */
}

.new-footer-contact a:hover {
    color: #1b1b1b; /* Cambiar color de la letra a negro */
    background-color: #eceef2; /* Fondo blanco */
}

.new-footer-credits {
    text-align: center;
}

@media (min-width: 768px) {
    .new-footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: start;
    }

    .new-footer-logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: center;
        align-items: center;
    }

    .new-footer-buttons {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: flex-end;
    }

    .new-footer-contact {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center; /* Centrar el texto */
    }

    .new-footer-credits {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center; /* Centrar el texto */
    }

    .new-footer-logo-img {
        height: 100%;
        max-height: 100px;
        width: auto;
    }

    .new-footer-button {
        flex: 1 1 45%;
        max-width: 45%;
    }
}