@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Manrope:wght@400;700&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
}

body {
    font-family: 'Exo 2', sans-serif;
}

/* Aplica la fuente Exo 2 a todos los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: 'Exo 2', sans-serif !important;
}

.c-button .c-button-bg {
    background-color: unset;
}

.buttonColorBlue {
    background-color: #0146f9;
    color: #fff;
    border-color: #eceef2;
    border-width: 3px;
    border-style: solid;
}

.buttonColorBlue:hover {
    background-color: #3c8cff;
    color: #fff;
}

.footerBlaco li,
.footerBlaco a {
    color: #fff;
}

.c-footer {
    background-color: #000;
}

.buttonTop {
    background-color: #0146f9 !important;
    border-color: #1b1b1b;
    border-width: 3px;
    border-style: solid;
}

.c-button {
    color: #fff;
}

.c-button-text-hover,
.c-button-icon-hover {
    color: #fff
}

@media (hover: hover) and (pointer: fine) {
    .c-button-bg-hover {
        background-color: #3c8cff;
    }
}

.c-hero-title {
    padding-top: 10rem;
}

.c-hero {
    background: #fff;
    color: #000;
    height: 70vw;
}

.c-section--title-1 .c-title-parts-bg {
    border: .125rem solid #3c8cff;
}

.c-list h3 {
    color: #0146f9;
}

.c-list p {
    color: #000;
}

.c-section--title-text-center.c-section--light {
    --title-color: #000;
}

.c-cards--5 .c-cards-content {
    background-color: #3c8cff;
    border-color: #fff;
    border-width: 3px;
}

.c-dropdown-1 {
    --background-color: #eceef2;
    --title-color: #1b1b1b;
    --dropdown-item-background-color: #3c8cff;
    --dropdown-item-hover-background-color: #0146f9;
    --dropdown-item-active-background-color: #1b1b1b;
    --dropdown-item-expanded-background-color: #1b1b1b;
    --dropdown-item-title-color: #eceef2;
    --dropdown-item-icon-color: #eceef2;
    --dropdown-item-hover-text-color: #eceef2;
    --dropdown-item-active-text-color: #eceef2;
    --dropdown-item-expanded-text-color: #eceef2;
}

@media (hover: hover) and (pointer: fine) {

    .c-nav-bar-menu-a:hover:before,
    .c-nav-bar-menu-li.is-active>.c-nav-bar-menu-a:before,
    .c-nav-bar-menu-a.is-active:before {
        background-color: #000;
    }
}

.ts-eyebrow {
    color: #fff;
}

.c-card-item--5 .c-card-item-bg {
    background-color: #000;
}

.c-card-item--5 .c-card-item-bg-hover {
    background-color: #fff;
    border-color: #000;
    border-width: 5px;
    border-style: solid;
}

.c-card-item--5 .c-card-item-title .c-card-item-title-inner h3,
.c-card-item--5 .c-card-item-text {
    color: #fff;
}

.c-card-item--5:hover .c-card-item-title .c-card-item-title-inner h3,
.c-card-item--5:hover .c-card-item-text {
    color: #000;
}

@media (max-width: 999px) {

    .c-card-item--5:hover .c-card-item-title .c-card-item-title-inner h3,
    .c-card-item--5:hover .c-card-item-text {
        color: #fff;
    }
}

@media (hover: hover) and (pointer: fine) {
    .c-card-item--5:hover .c-card-item-title-icon {
        background-color: #3c8cff;
    }
}

.c-card-item--5 .c-card-item-title-icon {
    background-color: #0146f9;
    color: #fff;
}

.ts-3 .title-span:before {
    background: #3c8cff68;
}

.c-nav-menu-bg {
    background: #000;
}

@media (max-width: 999px) {
    .c-nav-menu-content-light:before {
        background-color: #000;
    }
}

@media (max-width: 799px) {
    .c-nav-menu-top {
        background-color: unset;
    }
}

@media (min-width: 1000px) {
    .c-nav-menu-bg {
        background: #000;
    }
}

.c-button--round:before {
    background-color: #3c8cff;
}

.c-icon-close {
    fill: white;
    /* Color base blanco */
    transition: fill 0.3s ease;
    /* Transición suave para el cambio de color */
}

.c-icon-close:hover,
button:hover .c-icon-close {
    fill: black;
    /* Color al hacer hover negro */
}

.c-nav-menu-content-a {
    --link-color-hover: #fff;
}

.c-nav-menu-content-a:before {
    background-color: #3c8cff;
}

.c-lock-scroll-2 {
    --background-color: #000;
}

.c-section--hero-1 {
    --breadcrumb-color: #0146f9;
    --breadcrumb-color-active: #000;
}

.c-section--title-text-center.c-section--dark {
    --breadcrumb-color: #fff;
    --breadcrumb-color-active: #fff;
}

.c-lock-scroll-1 {
    background: linear-gradient(to bottom, #0146f9 0%, #0146f9 100%);
}

.c-lock-scroll-card {
    background-color: #3c8cff !important;
}

.ts-3 {
    color: #000;
}

.c-lock-scroll-card-text .ts-p,
.c-lock-scroll-card-text p {
    color: #000;
    text-align: justify;
}

.ts-2 {
    color: #000;
}

.c-lock-scroll-card {
    border-radius: 0px;
}

.c-card-item--8 {
    border-radius: 0px;
}

.c-lock-scroll-card-text .ts-p,
.c-lock-scroll-card-text p {
    font-size: 1rem;
}

.c-dropdown-item {
    border-radius: 0px;
}

.c-card-item--8 .c-card-item-title h3 {
    color: #fff;
    font-size: 45px;
}

.c-card-item--8 .c-card-item-text {
    color: #fff;
    font-size: 34px;
}

img,
video {
    max-width: 100%;
    width: auto;
    /* height: 50px; */
}

.c-nav-bar-menu-a:before {
    border-radius: 0px;
}

.c-button,
.c-button .c-button-bg {
    border-radius: 0px;
}

.c-nav-bar-cta {
    border-radius: 0px;
}

.c-nav-bar-bg {
    border-radius: 0px;
}

@media (hover: hover) and (pointer: fine) {
    .c-button-bg-hover {
        border-radius: 0px;
    }
}

@media (max-width: 1400px) {
    .c-card-item--8 .c-card-item-title h3 {
        font-size: 30px;
    }

    .c-card-item--8 .c-card-item-text {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .c-card-item--8 .c-card-item-title h3 {
        font-size: 24px;
        /* Ajusta el tamaño de la letra para dispositivos móviles */
    }

    .c-card-item--8 .c-card-item-text {
        font-size: 18px;
        /* Ajusta el tamaño de la letra para dispositivos móviles */
    }
}

.iconosFont {
    font-size: 42px;
    color: #fff;
}

.c-card-item--8 {
    background-color: #0146f9;
}

.c-carousel--5 .c-carousel-year-inner:before {
    background: linear-gradient(97deg, #0146f9 6.5%, #0146f9 99.84%);
}

.c-carousel--5 {
    --background-color: #1b1b1b;
}

.c-section-progress-drag {
    background-color: #fff;
}

.c-section--dark {
    border-width: 1px;
    background-color: #1b1b1b;
}

.c-section--light .c-button--outlined {
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}

.ts-2 .title-span:before {
    background: #3c8cff68;
}

.c-cards--5 {
    --background-color: #000;
}

.navegationEnable {
    display: none;
}

.saltoLinea {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 799px) {
    .c-hero {
        height: 130vw
    }
}

@media (max-width: 799px) {
    .c-hero {
        height: 150vw
    }
}

@media (max-width: 450px) {
    .c-hero {
        height: 190vw
    }
}

@media (max-width: 600px) {
    .break-word {
        word-break: break-all;
        white-space: normal !important;
        padding-top: 5%;
    }

    .cellphoneDisapare {
        display: none;
    }
}

@media (max-width: 1000px) {
    .languageDisable {
        display: none !important;
    }

    .navegationEnable {
        display: inline-block;
    }
}

.c-card-item--5 .c-card-item-bg, .c-card-item--5 .c-card-item-bg-hover {
    border-radius: 0px;
}

.c-cards--1 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.c-cards--1 {
    will-change: transform;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.fondoIndex {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 7%;
    border-radius: 0px;
}

.video-container {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.fondoVideo iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 58.25vw;
    min-height: 100vh;
    min-width: 177.78vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (max-width: 1100px) {

    .fondoIndex {
        margin-top: 9%;
    }

    .video-container {
        top: 6%;
    }
}

@media (max-width: 800px) {
    .fondoIndex {
        margin-top: 12%;
    }
}

@media (max-width: 650px) {
    .fondoIndex {
        margin-top: 17%;
    }
}

@media (max-width: 450px) {
    .fondoIndex {
        margin-top: 20%;
    }
}