.video-section {
    position: relative;
    width: 100%;
    height: 140vh;
    overflow: hidden;
}

.video-section iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vw;
    min-height: 100vh;
    min-width: 200vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.video-overlay {
    position: absolute;
    top: 15%; /* Movido más arriba */
    left: 50%;
    transform: translateX(-50%);
    color: #1b1b1b;
    text-align: center;
    width: 90%;
    z-index: 2;
}

.video-overlay .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem; /* Tamaño aumentado */
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.video-overlay .title span:first-child {
    align-self: center;
    margin-left: -20%; /* Desplazado levemente hacia afuera */
}
.video-overlay .title span:nth-child(2) {
    align-self: center;
    margin-right: -20%; /* Desplazado levemente hacia afuera */
}
.video-overlay .title span:last-child {
    align-self: center;
}

.video-overlay p {
    padding-top: 1%;
    font-size: 1.7rem; /* Aumentado el tamaño del párrafo */
    margin-top: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.video-overlay .cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 2rem;
    font-weight: bold;
    color: #eceef2;
    background-color: #0146f9;
    text-decoration: none;
    border-radius: 5px;
    /* border: 2px solid #1b1b1b; */
    transition: background 0.3s ease, color 0.3s ease;
}

.video-overlay .cta-button:hover {
    background-color: #3c8cff;
    color: #eceef2;
    /* border: 2px solid #1b1b1b; */
}

@media (max-width: 1100px) {
    .video-section {
        height: 100vh;
    }
}

@media (max-width: 800px) {
    .video-overlay .title {
        font-size: 2.5rem;
    }
    .video-overlay p {
        font-size: 20px;
    }
    .video-overlay .cta-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .video-overlay .title span:first-child {
        align-self: center;
        margin-left: 0%;
    }
    .video-overlay .title span:nth-child(2) {
        margin-right: 0%;
    }
}
